@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Bowler
@{
}

<form id="bowlerForm" method="post" asp-controller="Home" asp-action="EditBowlerForm">
    <div asp-validation-summary="All"></div>
    <input asp-for="BowlerID" type="hidden" hidden />
    <input asp-for="TeamID"value="@ViewBag.Trent.TeamID" type="hidden" hidden />
    <label asp-for="BowlerFirstName">First Name</label>
    <input class="form-control" id="bowFirstName" type="text" placeholder="Enter the first name..." asp-for="BowlerFirstName" />

    <label asp-for="BowlerLastName">Last Name</label>
    <input class="form-control" id="bowLastName" type="text" placeholder="Enter the last name..." asp-for="BowlerLastName" />

    <label asp-for="BowlerMiddleInit">Middle Initial</label>
    <input class="form-control" id="bowLastName" type="text" placeholder="Enter the Middle Initial..." asp-for="BowlerMiddleInit" />

    <label asp-for="BowlerAddress">Address</label>
    <input class="form-control" id="bowAddress" type="text" placeholder="Enter the address..." asp-for="BowlerAddress" />

    <label asp-for="BowlerCity">City</label>
    <input class="form-control" id="bowCity" type="text" placeholder="Enter the city..." asp-for="BowlerCity" />

    <label asp-for="BowlerState">State</label>
    <input class="form-control" id="bowState" type="text" placeholder="Enter the state..." asp-for="BowlerState" />

    <label asp-for="BowlerZip">Zipcode</label>
    <input class="form-control" id="bowZip" type="text" placeholder="Enter the zipcode..." asp-for="BowlerZip" />

    <label asp-for="BowlerPhoneNumber">Phone Number</label>
    <input class="form-control" id="bowNum" type="text" placeholder="Enter the phone number..." asp-for="BowlerPhoneNumber" />


    <label asp-for="Team.TeamName">Team Name</label>
    <input asp-for="Team.TeamName"class="form-control" id="bowTeam" type="text" placeholder="Enter the team name..." value="@ViewBag.Trent.TeamName" required />

    <br />
    <button type="submit" class="btn btn-success btn-primary text-center">Confirm New Bowler</button>
    @*asp-route-id="@ViewBag.bowler.BowlerID"*@

</form>
